{% extends "base.html"%}

{% block titulo %}
<h1 class="page-header">Página Principal</h1>
{% endblock%}


{% block btn_flotante%}
<a class="btn-floating btn-large waves-effect waves-light light-blue lighten-1" style="bottom: 45px; right: 24px" href="/app/crearMicroPost/"><i class="mdi-content-create"></i></a>


{%endblock%}

{% block cuerpo %}
	<h2>Bienvenido a myMicroBlogging</h2>
	<p>Usted se encuentra logueado por lo que podrá acceder a tos las funciones de los paneles superiores y laterales.</p>

{% endblock %}

{% block navIzq %}

<li>          <form action="/buscar/" method="GET" class="right side-nav">
            <input type="text" class="form-control" name='busqueda' placeholder="Search...">
          </form>
</li>




<li><a href="/app/listarTablon/">Tablón</a></li>
<li><a href="/app/crearMicroPost/">Crear Nuevo MicroPost</a></li>
<li><a href="/app/listarMicroPost/">Mis MicroPosts</a></li>

<li><a href="/app/seguidores/">Seguidores</a></li>
<li><a href="/app/seguidos/">Seguidos</a></li>

<li><a href="/app/listarFavoritos/">Favoritos</a></li>
<li><a href="/app/menciones/">Ver mis menciones</a></li>
<li><a href="/app/verListas/">Listas</a></li>
<li><a href="/app/verTT/">Ver Trending Topics</a></li>



{% endblock %}

            {% block navSup %}
            
            <li><a href="/app/editarUsuario">Editar Perfil</a></li>
            <li><a href="/app/user_logout/">Salir</a></li>
            
            {% endblock %}


          {% block busqueda %}

          <form action="/buscar/" method="GET" class="navbar-form navbar-right">
            <input type="text" class="form-control" name='busqueda' placeholder="Search...">
          </form>
          {% endblock %}