{% extends "app_myMicroBlogging/home.html"%}

{% block titulo %}
<h1 class="page-header">Listado de tus MicroPost</h1>
{% endblock%}


{% block cuerpo %}
	{% for mis_post in listaMicroPost %}


		     <div class="row">
        <div class="col s12 m12 l12">
          <div class="card light-blue lighten-3">
            <div class="card-content white-text">
             
              <p>{{mis_post.contenido}}.</p>
            </div>
            <div class="card-action">
					<a class="btn" href="/app/eliminarMicroPost/{{mis_post.pk}}"/><i class="mdi-action-delete"></i> </a>
					
            </div>
          </div>
        </div>
      </div>

		<!--
		<div class="panel panel-primary">
		<div class="panel-heading">
			<h6 class="panel-heading">
			{{mis_post.fecha}}
			</h6>

		</div>
		<div class="panel-body">
			<h4>{{mis_post.contenido}}</h4>
						<a href="/app/eliminarMicroPost/{{mis_post.pk}}">
		<button type="button" class="btn btn-danger">Eliminar</button>
	</a>
		</div>


	</div>-->










	{%endfor%}

{% endblock %}




