{% extends "app_myMicroBlogging/home.html"%}

{% block titulo %}
<h4 class="page-header">Tablón de micro posts</h1>
{% endblock%}


{% block cuerpo %}

	

	{% for mensaje in listaMensajes %}

	     <div class="row">
        <div class="col s12 m12 l12">
          <div class="card light-blue lighten-3">
            <div class="card-content white-text">
              <span class="card-title">Micro post escrito por {{mensaje.usuario.username}} el {{mensaje.fecha}}:</span>
              <p>{{mensaje.contenido}}.</p>
            </div>
            <div class="card-action">
					<a class="btn" href="/app/repostear/{{mensaje.pk}}"/><i class="mdi-av-repeat"></i> </a>
					<a class="btn" href="/app/anyadirFavorito/{{mensaje.pk}}"/><i class="mdi-action-grade"></i> </a>	
            </div>
          </div>
        </div>
      </div>






	<!--
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h6 class="panel-heading">
			Micro post escrito por {{mensaje.usuario.username}} el {{mensaje.fecha}}:
			</h6>

		</div>
		<div class="panel-body">
			<h4>{{mensaje.contenido}}</h4>
		</div>	

	
	<a href="/app/repostear/{{mensaje.pk}}">
<button type="button" class="btn btn-success">Repostear</button>
    </a>

    <a href="/app/anyadirFavorito/{{mensaje.pk}}">
<button type="button" class="btn btn-success">Favorito</button>
    </a>
	
	</div>
-->

    


	{%endfor%}





{% endblock %}